{% extends 'main.html' %}
{%block content%}
    {%if isFound%}
        <img src="{{ item.featured_image.url }}" style="max-width: 100px; max-height: 100px;">
        <h1>
            Project ID - {{key}}
        </h1>            
                <h2>Project Title : {{item.title}}</h2>
                <p>Project Descripton : {{item.description}}</p>   
                <p>Tags :: </p>
                {% for tag in tags %}
                    <p>{{tag}}</p>
                {% endfor %}          
    {% else %}
        <h2>The Project You are Looking For Does Not Exist. Please Try With a Different Project-ID !! </h2>
    {%endif%}

{% endblock content%}